.password {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.password-main {
	flex-grow: 1;
}

.password-header,
.password-footer {
	.link {
		text-decoration: underline;
		text-underline-offset: 0.3rem;
		text-decoration-thickness: 0.1rem;
		transition: text-decoration-thickness ease .1s;

		@media (hover:hover) {
			&:hover {
				text-decoration-thickness: 0.2rem;
			}

		}

	}

}

.transparent-password {
	position: absolute;
	z-index: 999;
	background-color: transparent;
	left: 0;
	right: 0;

	&.footer {
	  bottom: 0;
	}
}

.password-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.password-modal {
		&:after {
			display: none;
		}

		.modal-toggle-close {
			display: none;
			cursor: pointer;
			justify-content: center;
			align-items: center;
			width: 4rem;
			height: 4rem;
			position: fixed;
			right: 2rem;
			top: 2rem;

			svg {
				width: 2rem;
				height: 2rem;
			}

			@media (hover:hover) {
				&:hover {
					svg {
						width: 2.2rem;
						height: 2.2rem;
					}

				}

			}

		}

		.modal-toggle-open {
			cursor: pointer;
			display: flex;
			font-size: 1.4rem;

			svg {
				width: 1.8rem;
				height: 1.8rem;
				margin-right: 1rem;
			}

		}

		&[open] {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: rgb(var(--background-color));
			z-index: 20;
			text-align: center;

			.modal-toggle-open {
				display: none;
			}

			.modal-toggle-close {
				display: inline-flex;
			}

		}

		.password-modal-content-heading {
			font-size: 1.8rem;
		}

		#login_form {
			display: flex;
			align-items: stretch;
			margin: 5rem 0 3rem 0;

			.password-field {
				flex-grow: 1;

				input:not(:placeholder-shown),
				input:focus {
					padding: 1.6rem 2rem;
					color: rgba(0, 0, 0, 1);
				}
			}

			.password-button {
				margin-left: 1rem;
				min-width: 12rem;
				box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
			}

		}

	}

	.modal-content {
		max-width: 50rem;
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.password-modal-content {
		width: 100%;
		padding: 2rem;
	}

	.overlay-logo-image ~ .site-branding-image {
		display: none;
	}

	.logo {
		margin: unset;
	}
}

.separator-line {
	&.footer {
		border-top: 0.1rem solid rgb(var(--text-color), .12);
	}

	&.header {
		border-bottom: 0.1rem solid rgb(var(--text-color), .12);
	}
}

.password-footer,
.password-header {
	padding: 2.4rem 0;
}
