// Announcement bar.
.announcement-bar-section {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	a {
		text-decoration: underline;
	}

	* {
		font-size: 14px;

		@media (max-width: 1300px) {
			font-size: 13px;
		}

		@media (max-width: 991px) {
			font-size: 12px;
		}
	}

	.title {
		text-align: center;
	}

	.social-media-list {
		gap: 1rem;
		padding: 0;
		margin: 0;
		align-items: center;

		@media (max-width: 991px) {
			display: none;
		}

		.icon {
			width: 2.4rem;
			height: 2.4rem;

			svg {
				height: unset;
				width: unset;
			}

			.tooltip {
				display: none;
			}
		}
	}

	.unity-slider {
		display: flex;
		align-items: center;

		.unity-arrows {
			.unity-button {
				width: 4rem;
				height: 4rem;
				position: relative;
				transform: translate(0);
				color: rgb(var(--text-color));
				border: unset;

				&:hover {
					background-color: transparent;
					color: rgb(var(--text-color));

					svg {
						color: rgba(var(--text-color));
					}
				}

				svg {
					width: 1.2rem;
					height: 1.2rem;
				}
			}

			.unity-button-prev {
				left: 0;
			}

			.unity-button-next {
				right: 0;
			}
		}
	}

	.message-box {
		display: flex;
		align-items: baseline;
		justify-content: center;
		gap: 1.2rem;

		@media (max-width: 991px) {
			gap: 0.5rem;
			align-items: center;
		}
	}

	.localization-selector-wrapper {
		justify-content: flex-end;
		display: flex;

		@media (max-width: 991px) {
			display: none;
		}
	}

	.icon-image {
		img,
		svg {
			min-width: 1.6rem;
			max-width: 1.6rem;
			max-height: 1.6rem;
			margin-top: -0.3rem;
		}
	}

	.bottom-border {
		border-bottom: 0.1rem solid rgba(var(--text-color), 0.12);
	}

	@media (min-width: 992px) {
		.announcement-bar-inner {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: 'social slider language_country';
			align-items: center;

			.social-media-list {
				grid-area: social;
			}

			.announcement-bar-content {
				grid-area: slider;

				.unity-slider-viewport {
					margin: 0 2rem;
				}
			}

			.localization-selector-wrapper {
				grid-area: language_country;
			}
		}
	}
}
