.image-with-text-section {
	@media (min-width: 992px) {
		.text-first {
			.content {
				order: -1;
			}
		}
	}

	.image-with-text {
		display: flex;

		.image {
			.lazy-image,
			.adapt-svg-placeholder svg {
				aspect-ratio: 1.5/1;
				border-radius: 0.8rem;

				@media (min-width: 992px) {
					aspect-ratio: 3.35/1;
				}
			}
		}
	}

	.content {
		display: flex;
		justify-content: center;

		@media (min-width: 992px) {
			padding: 8rem;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.content-inner-wrapper {
		display: flex;
	}

	.content-inner {
		display: flex;
		flex-direction: column;
	}

	.heading {
		margin: 0;
	}

	.description,
	.button-wrapper {
		margin: 0;
		margin-top: 2.4rem;
	}

	.button-wrapper {
		.button {
			display: inline-flex;
			text-decoration: none;
		}
	}

	// Responsive
	@media (max-width: 991px) {
		.content {
			padding: 4rem;
		}

		.image-with-text {
			flex-direction: column;
		}
	}
}

.adapt-svg-placeholder {
	height: 100%;
}
