.popup-map {
	@media (max-width: 991px) {
		height: 100vh;
		overflow: hidden;
	}
}

.map-section {
	.contact-map {
		border-radius: 0.8rem;
		min-height: 47rem;

		.placeholder-svg {
			padding: 25% 0;
		}
	}

	.stretch-padding {
		padding-left: 0;
		padding-right: 0;
	}

	.address,
	.phone,
	.email {
		font-family: var(--subheading-font-family);
		font-weight: 700;
		font-size: 1.2rem;
		color: rgb(var(--subheading-color));
	}

	a {
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 21px;
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-thickness: auto;
		text-underline-offset: auto;

		&:hover {
			text-decoration: none;
		}
	}

	.scrolling-wrapper {
		.scrolling {
			display: none;
		}
	}

	.map {
		display: flex;

		.item-summary {
			svg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}

	.image .placeholder-svg,
	.image img {
		max-height: 50rem;
		width: 100%;
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		z-index: 9;

		.container {
			position: relative;
			top: -100%;
			height: 100%;
		}
	}

	.product-wrapper {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: min(45.2rem, 100%);
		padding: 4rem 2.8rem;

		@media (min-width: 1200px) {
			padding: 8rem 6rem 7rem;
		}

		.heading {
			margin-top: 0;
			margin-bottom: 2.4rem;
		}

		.button-map {
			padding: 1rem 2.4rem;
			display: block;
			float: left;
			margin-top: 2.4rem;
		}
	}

	.product-card {
		display: flex;
		align-items: center;
		margin: 1rem 2.8rem;

		.product-media-wrap {
			width: 15rem;
			height: 15rem;
			padding-bottom: 0;
			flex-shrink: 0;
			margin-right: 2.4rem;

			@media (max-width: 767px) {
				width: 10rem;
				height: 10rem;
				margin-right: 2rem;
			}
		}

		.product-card-content {
			text-align: left;
			margin: 0;
			padding: 1.5rem 1.5rem 1.5rem 0;

			> * {
				margin-top: 0.8rem;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		.product-title {
			line-height: 1.5;

			@media (max-width: 991px) {
				line-height: normal;
			}

			@media (max-width: 545px) {
				display: inline-grid;

				a {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.form-add-to-cart {
			display: none;
		}
	}

	.add-multiple-products {
		.product-warning {
			margin-bottom: 1.5rem;
		}

		.add-to-cart-button {
			width: 100%;
		}
	}

	.item {
		position: absolute;
		z-index: 10;
		width: 4.8rem;
		height: 4.8rem;
		border-radius: 5rem;
		left: var(--item-x);
		top: var(--item-y);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (hover: hover) {
			&:hover {
				.dot {
					transform: scale(1.1);
				}

				.item-inner {
					transform: scale(1) translateY(-50%);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}

		&.dark {
			&:after {
				background-color: rgba(255, 255, 255, 0.4);
			}
		}

		.dot {
			content: '';
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			border-radius: 5rem;
			transition: transform 0.2s ease;
			position: absolute;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				path {
					fill: rgb(var(--text-color));
				}

				path:nth-of-type(2) {
					fill: rgb(var(--background-color));
				}
			}
		}
	}

	.product-target {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 10;

		@media (hover: none) {
			&.active {
				+ .item-inner {
					transform: scale(1);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}
	}

	.infor {
		display: flex;
		padding: 0;
		gap: 3.2rem;

		@media (max-width: 560px) {
			flex-direction: column;
			gap: 2rem;
		}

		.left-content,
		.right-content {
			width: 50%;

			* {
				margin-bottom: 1rem;
			}
		}
	}

	.item-inner {
		transform: scale(1) translateY(-50%);
		border-radius: 0.8rem;
		width: 40.8rem;
		position: absolute;
		top: 50%;
		right: calc(var(--grid-horizontal) / 2);
		opacity: 1;
		visibility: visible;
		padding-top: 0;

		@media (max-width: 991px) {
			display: none;
			width: 100%;
			top: 0;
			left: 0;
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			transition: none;

			&.show-inner {
				position: fixed;
				height: 100vh;
				width: 100vw;
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 10;
				padding: 0 2.4rem;

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					background: rgba(0, 0, 0, 0.5);
					z-index: -1;
				}
			}
		}

		@media (hover: hover) {
			&:hover {
				.product-image {
					img {
						transform: scale(1.05);
					}
				}

				.product-title {
					text-decoration: underline;
				}
			}
		}

		.product-link {
			position: absolute;
			inset: 0;
			z-index: 5;
		}

		.product-price {
			font-size: 1.8rem;
			font-weight: 600;

			.price {
				+ .regular-price {
					margin-left: 0.3em;
				}
			}
		}
	}

	.item-summary {
		background-color: rgb(var(--background-color));
		box-shadow: 0 0 4rem rgba(var(--text-color), 0.6);
		display: flex;
		position: relative;
		flex-direction: column;
		border-radius: 0.8rem;

		.product-image {
			border-radius: 0.8rem 0.8rem 0 0;
			width: 100%;
			max-height: 16rem;
			height: 100%;
			overflow: hidden;
			min-height: 16rem;
			position: relative;

			img {
				transition: transform 0.3s;
				height: 100%;
			}
		}

		.summary-inner {
			padding: 2.4rem;

			.product-title {
				margin: 0 0 0.3rem 0;
				line-height: 1.4;
				font-weight: 400;
				font-size: 1.6rem;
			}

			.product-price {
				white-space: nowrap;
			}
		}
	}

	.swiper-controls {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 4rem;

		.swiper-scrollbar-wrapper {
			position: relative;
			margin-right: 2.4rem;
			flex-grow: 1;

			.swiper-scrollbar {
				bottom: 0;
				height: 0.1rem;
				background-color: rgba(var(--text-color), 0.3);
			}

			.swiper-scrollbar-drag {
				top: -0.1rem;
				height: 0.3rem;
				border-radius: 0.4rem;
				background-color: rgba(var(--text-color), 0.5);
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			position: static;
			transform: none;
			width: 4.8rem;
			height: 4.8rem;
			border-color: rgb(var(--text-color));

			svg {
				width: 1.6rem;
			}
		}

		.swiper-button-prev {
			margin-right: 0.8rem;
		}
	}

	.discount-item {
		display: flex;
		align-items: center;
		margin: 1.1rem 0;

		.discount-content {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			height: 5.6rem;
		}

		.discount-title {
			padding: 1.6rem 2.4rem;
			text-transform: uppercase;
			font-weight: 600;
		}

		.copy-button {
			height: 100%;
			padding: 0 2.4rem;
			text-transform: capitalize;
			border-left: 0.2rem dotted #e1e1e1;
			color: rgb(var(--button-bg-color));
			background-color: rgb(var(--button-text-color));

			&:before {
				background-image: linear-gradient(90deg, transparent, rgba(var(--button-bg-color), 0.3), transparent);
			}

			svg {
				margin-right: 1rem;
			}
		}
	}

	.message {
		&:not(.hidden) {
			margin-bottom: 1rem;
		}
	}

	.box-countdown {
		.countdown-label {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1.2px;
			margin: 0 0 0.3rem;
		}

		.countdown-time-wrap {
			display: inline-flex;
			margin-bottom: 0;
		}

		.countdown-time {
			display: inline-flex;
			padding: 0;

			.time-block {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				position: relative;
				margin-right: 1.3rem;

				&:last-of-type {
					margin-right: 0;
				}

				&:not(:first-child):before {
					content: ':';
					font-size: var(--body-font-size);
					font-weight: var(--heading-font-weight);
					position: absolute;
					top: 0;
					left: -0.9rem;
				}
			}

			.time-number,
			.time-text {
				padding: 0;
				margin: 0;
				font-size: var(--body-font-size);
				font-weight: var(--heading-font-weight);
				min-width: auto;
				min-height: auto;
			}

			.time-text {
				margin-left: 0.2rem;
				text-transform: lowercase;
			}
		}
	}
}
