@use 'general/_mixins';
@use 'general/base';

.has-product-card {
	.title-wrapper {
		margin-bottom: 4.7rem;

		.heading {
			line-height: 1.25;
			margin: 0;
		}

		.sub-heading {
			margin-top: 0;
			line-height: 1.25;
			font-style: italic;
		}

		p {
			margin-bottom: 0;
		}

	}

	.swiper-slide {
		height: auto;
	}

	// Responsive
	@media (max-width:991px) {
		.title-wrapper {
			margin-bottom: 4.1rem;
		}

		&:not(.collection-page-section) {
			.grid {
				overflow-x: auto;
				white-space: nowrap;
				flex-wrap: nowrap;

				.grid-item {
					min-width: 26rem;
					overflow: hidden;
				}

				.product-title {
					white-space: normal;
				}

			}

		}

		.product-card {
			.form-add-to-cart {
				display: none;
			}

			.product-actions {
				top: 1rem;
				right: 1rem;

				.product-action {
					opacity: 1;
					visibility: visible;

					&.product-quick-view {
						transform: none;
						margin-top: 0;

						span {
							line-height: 1;
						}

						svg {
							width: 1.6rem;
							height: 1.6rem;
						}

					}

				}

			}

		}

	}

}

.product-card {
	position: relative;
	background-color: rgba(var(--text-color), 0.027);
	margin-bottom: 6.9rem;
	border-radius: 0.8rem;

	&.selling-plan-error {
		&:hover {
			.quick-add-box {
				transform: translateY(0);
			}

		}

	}

	@media (min-width:1023px) {
		container-type: inline-size;
	}

	.quick-add {
		@container (max-width:280px) {
			.quick-add-box {
				overflow-y: auto;
				overflow-x: hidden;
				justify-content: flex-start;
				padding: 1rem;

				.field-item {
					font-size: 1rem;
					padding: 0.8rem 0.5rem;
					height: auto;
				}

				.field-title {
					font-size: 1rem;
					padding: 0.3rem;
				}

				.add-to-cart-button {
					overflow: visible;
					padding: 0 0.5rem;
					min-height: 4.2rem;
					height: 4.2rem;
					font-size: 1rem;
					margin-bottom: 0;
				}

			}

		}

		@container (max-width:160px) {
			.quick-add-box {
				.add-to-cart-button {
					svg {
						display: none;
						margin-right: 0;
					}

				}

			}

		}

	}

	// Scrolling
	@media (hover:hover) {
		&:hover,
		&:focus-within {
			.quick-add-box {
				transform: translateY(0);
			}

			.scrolling {
				visibility: hidden;
			}

		}

	}

	.scrolling-wrapper {
		&.scrolling-top {
			.scrolling {
				top: 0;
			}

		}

		&.scrolling-bottom {
			.scrolling {
				bottom: 0;
			}

		}

		&.scrolling-ltr {
			.scrolling-animation {
				animation-direction: reverse;
			}

		}

		.scrolling {
			position: absolute;
			left: 0;
			background-color: rgb(var(--button-bg-color));
			color: rgb(var(--button-text-color));
		}

		.scrolling-animation {
			animation: scrolling var(--product-card-scrolling-speed, 10s) infinite linear;
		}

		.scrolling-inner {
			padding: 0 0.4rem;
		}

		.scrolling-text {
			height: 4rem;
			font-size: 1.2rem;
			letter-spacing: 1.2px;
			font-weight: 600;
			text-transform: uppercase;

			.percent-number {
				margin-left: 1ch;
			}

			.sale-label {
				padding: 0.2rem 0.6rem;
				background-color: rgba(var(--text-color), 0.04);
				margin-left: 1ch;
				font-size: 1rem;
				letter-spacing: 1px;
				border-radius: 4px;
			}

			svg {
				width: 1.6rem;
				height: 1.6rem;
				margin-left: 1rem;
				color: #f5c567;

				path {
					fill: #f5c567;
				}

			}

		}

	}

	// Hover
	@media (hover:hover) and (min-width:992px) {
		.has-overlay {
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				transition-duration: 0.2s;
				background-color: rgba(var(--overlay-color), 0.4);
				opacity: 0;
				visibility: hidden;
				z-index: 3;
				pointer-events: none;
			}

		}

		&:hover {
			.placeholder-svg {
				transform: scale(1.08);
			}

			.has-overlay {
				&:before {
					visibility: visible;
					opacity: 0.3;
				}

			}

			.hover-zoom {
				.product-second-image {
					img {
						transform: scale(1.08);
						transition: opacity 0.2s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
					}

				}

			}

		}

	}

	// Hover card product.
	&:hover,
	&:focus-within {
		.form-add-to-cart {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			padding: 0;
			text-align: center;
			text-transform: uppercase;
		}

		.product-swatches .swatch-selected {
			transform: translate(0);
			opacity: 1;
			visibility: visible;
		}

	}

	// Sale badge
	.product-badge {
		position: absolute;
		z-index: 2;
		left: 1.6rem;
		top: 1.6rem;
		height: 2.1rem;
		text-transform: uppercase;
		font-size: 1.2rem;

		.on-sale,
		.sold-out {
			color: #fff;
			background-color: rgb(var(--sale-label-color));
			padding: 0.4rem 0.6rem;
			font-size: 1.2rem;
			font-family: var(--subheading-font-family);
			font-weight: 700;
			border-radius: 0.4rem;
		}

	}

	// Product image
	.product-media-wrap {
		position: relative;
		overflow: hidden;
		border-radius: 0.8rem 0.8rem 0 0;

		.product-image {
			&:focus,
			&:focus-visible {
				border-radius: 0.8rem 0.8rem 0 0;
			}

		}

		&.no-media {
			background-color: rgba(var(--text-color), 0.15);
		}

		&:hover {
			&.has-second-image {
				.product-first-image {
					opacity: 0;
				}

			}

			.product-second-image {
				opacity: 1;
				visibility: visible;
			}

			.placeholder-svg {
				transform: scale(1.05);
			}

			.has-overlay {
				&:before {
					visibility: visible;
					opacity: 0.3;
				}

			}

			.hover-zoom {
				&:not(.has-second-image),.product-second-image {
					img {
						transform: scale(1.05);
					}

				}

			}

		}

		&.adapt-media {
			&.no-media {
				padding-bottom: 100%;
			}

		}

		.product-title {
			margin: 0;
		}

		.product-link {
			position: absolute;
			inset: 0;
			background-color: transparent;
			display: flex;
			align-items: center;
			padding: 2rem;
		}

		&:focus-within {
			overflow: visible;
		}

		.placeholder-image {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
		}

		&.loading {
			&:after {
				@include mixins.loading();
			}

		}

	}

	.product-second-image {
		pointer-events: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
		z-index: 2;

		video,
		iframe,
		img {
			height: 100%;
			width: 100%;
			position: relative;
		}

	}

	// Add to cart
	.form-add-to-cart {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 1.6rem;
		z-index: 5;
		transform: translateY(0);
		opacity: 0;
		visibility: hidden;
		transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
		width: 100%;

		@media (max-width:1199px) {
			visibility: visible;
			transform: translateY(0);
		}

		@media (max-width:991px) {
			opacity: 1;
			top: auot;
			bottom: 0.8rem;
			display: flex;
			justify-content: flex-end;
			right: 0.8rem;
			left: auto;
		}

		.add-to-cart-button {
			width: max-content;
			padding: 0 2.4rem;
			position: relative;

			@container (max-width:160px) {
				.quick-add-box {
					.add-to-cart-button {
						svg {
							display: none;
							margin-right: 0;
						}

					}

				}

			}

			@media (max-width:991px) {
				padding: 0;
				width: 3.2rem;
				justify-content: center;
			}

		}

		.quick-add-button,
		.add-to-cart-button,
		.product-quick-view {
			width: max-content;
			height: 5.2rem;
			min-height: 5.2rem;
			max-height: 5.2rem;
			margin: auto;
			border-radius: var(--button-radius);
			font-family: var(--subheading-font-family);
			font-weight: var(--subheading-font-weight);
			text-transform: uppercase;
			font-size: 1.4rem;

			@media (max-width:1200px) {
				font-size: 1.2rem;
				padding: 0 1rem;
				height: 4.2rem;
				min-height: 4.2rem;
				max-height: 4.2rem;
			}

			@media (max-width:991px) {
				height: 3.2rem;
				min-height: 3.2rem;
				max-height: 3.2rem;
				font-size: 0;
				margin-right: 0;
				padding: 0;
				transform: none;
				transition: none;

				&:after {
					transform: none;
					transition: none;
				}

			}

			svg {
				margin-right: 1rem;

				@media (max-width:991px) {
					margin-right: 0;
				}

			}

		}

		.quick-add-button,
		.product-quick-view {
			text-transform: uppercase;
			margin: auto;
			border-radius: var(--button-radius);
			height: 5.2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgb(var(--button-text-color));
			background-color: rgb(var(--button-bg-color));
			font-weight: 700;
			font-family: var(--subheading-font-family);
			font-weight: var(--subheading-font-weight);

			@media (max-width:991px) {
				height: 3.2rem;
				font-size: 0;
				margin-right: 0;
			}

			svg {
				margin-right: 1rem;

				@media (max-width:991px) {
					margin-right: 0;
				}

			}

		}

		@media (hover:hover) {
			&:hover {
				.quick-add-box {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					border-radius: 0.8rem 0.8rem 0 0;
				}

			}

		}

	}

	// Quick add
	.quick-add-box {
		overflow-y: auto;
		padding: 2.4rem;
		text-transform: capitalize;
		text-align: center;
		min-height: 4rem;
		font-weight: 500;
		line-height: normal;
		width: calc(100% - 3.2rem);
		border-radius: 0;
		box-shadow: none;
		background-color: rgb(var(--background-color));
		color: rgb(var(--text-color));
		transform: translateY(100%);
		backdrop-filter: blur(0.5rem);
		transition: all 0.3s ease;
		display: flex;
		justify-content: flex-start;
		align-items: start;
		flex-direction: column;
		position: absolute;
		pointer-events: none;
		bottom: -1.6rem;
		left: 1.6rem;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		border-radius: 0.8rem 0.8rem 0 0;

		@media (max-width:991px) {
			display: none;
		}

		.field-title {
			padding-bottom: 0.8rem;
			text-transform: uppercase;
			font-size: 1.2rem;
			letter-spacing: 0.1rem;
		}

		.field-swatch {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: 0.4rem;

			+ .field-title {
				margin-top: 1.6rem;
			}

		}

		.primary-button {
			display: none;
			margin-top: 1.6rem;
		}

		.field-item {
			border: 0.1rem solid rgba(var(--text-color), 0.2);
			background-color: rgb(var(--background-color));
			color: rgb(var(--text-color));
			border-radius: 0.8rem;
			height: 3.7rem;
			padding: 0.6rem;
			background-color: rgb(var(--background-color));
			cursor: pointer;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-width: 6rem;
			transition: background-color 0.3s ease;
			position: relative;
			white-space: nowrap;
			font-size: 1.2rem;

			&.loading {
				color: transparent;

				@media (hover:hover) {
					&:hover {
						transition: color 0s;
						color: transparent;
					}

				}

				&:before {
					@include mixins.loading($size: 1.6rem, $border_width:0.2rem, $color:rgb(var(--background-color)), $highlight:transparent);
				}

			}

			@media (hover:hover) {
				&:hover {
					&:not(.soldout) {
						border: 0.1rem solid rgba(var(--text-color), 1);
					}

				}

			}

		}

		.selected {
			border: 0.1rem solid rgb(var(--text-color));
			background-color: rgb(var(--background-color));
			color: rgb(var(--text-color));

			&:after {
				width: 100%;
			}

		}

		.soldout {
			background-color: rgba(var(background-color));
			color: rgba(var(--text-color), 0.2);
			border: 0.1rem solid rgba(var(--text-color), 0.2);
		}

	}

	.quick-add-box::-webkit-scrollbar {
		width: 0.6rem;
	}

	.quick-add-box::-webkit-scrollbar-thumb {
		background: rgba(var(--text-color), 0.1);
		border-radius: 1.6rem;
	}

	.quick-add-box::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 1.6rem;
	}

	.product-card-content {
		padding: 0 1.6rem 1.4rem 1.6rem;
		padding-top: var(--product-card-space);
		position: relative;

		> * {
			margin-top: 0.4rem;
		}

		a {
			transition: text-decoration-color 0.8s ease, text-decoration-thickness 0.8s ease;
			color: rgb(var(--text-color));
			text-decoration-line: underline;
			text-decoration-thickness: 0.1rem;
			text-decoration-color: transparent;
			text-underline-offset: 0.3rem;

			@media (hover:hover) {
				&:hover {
					text-decoration-color: rgb(var(--text-color));
				}

			}

		}

		.product-vendor {
			margin-top: 0;

			.product-vendor-link {
				font-size: 1.2rem;
				font-family: var(--subheading-font-family);
				text-transform: uppercase;
				color: rgba(var(--text-color), 0.8);
			}

		}

	}

	// Actions
	.product-actions {
		position: absolute;
		right: 2rem;
		top: 2rem;
		z-index: 5;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.product-action {
			cursor: pointer;
			position: relative;
			border-radius: 5rem;
			width: 3.5rem;
			height: 3.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

			&:nth-child(1) {
				transform: translateY(0.3rem);
			}

			&:nth-child(2) {
				transform: translateY(0.6rem);
			}

			&.active {
				background-color: rgb(var(--text-color));
				color: #fff;
			}

			@media (hover:hover) {
				&:hover {
					background-color: rgb(var(--text-color));
					color: #fff;

					.tooltip {
						transform: translateX(0);
						opacity: 1;
						visibility: visible;
					}

				}

			}

			+ .product-action {
				margin-top: 1rem;
			}

		}

		.tooltip {
			line-height: 2.1;
		}

	}

	// Product title
	.product-title {
		margin-bottom: 0;
		font-weight: 400;
		color: rgb(var(--text-color));
		font-size: 1.6rem;
		margin-bottom: 0.5rem;
		font-family: var(--body-font-family);

		* {
			font-size: 1.6rem;
		}

	}

	// Stock status
	.product-stock-status {
		display: block;
	}

	// Swatch
	.product-swatches {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 0.9rem;
		gap: 0.8rem;

		@media (hover:none), (max-width:991px) {
			margin-left: 0.1rem;
		}

		&.swatch-circle {
			.swatch {
				&:before {
					border-radius: 5rem;
				}

			}

			.swatch-button {
				border-radius: 0;
			}

			.swatch-color {
				border-radius: 5rem;
			}

			.swatch-image {
				border-radius: 5rem;

				&.selected {
					border-radius: 5rem;
				}

			}

		}

		.swatch {
			width: 2.2rem;
			height: 2.2rem;
			position: relative;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;
			background: var(--swatch--background);
			background-position: var(--swatch-focal-point, center);
			background-size: cover;

			&:before {
				content: '';
				position: absolute;
				width: 2.2rem;
				height: 2.2rem;
				border: 0.1rem solid rgba(var(--text-color), 0.1);
				transition: border-color 0.3s ease;
			}

			&.selected {
				&:before {
					border-color: rgb(var(--text-color));
				}

			}

		}

		.swatch-color {
			width: 2.2rem;
			height: 2.2rem;

			&:before {
				border: 0.1rem solid rgba(var(--text-color), 0.05);
			}

			&:not(.soldout) {
				&.dark {
					border: 0.1rem solid rgba(var(--text-color), 0.03);

					&:after {
						background-image: var(--tick-black);
					}

				}

				&.swatch-png {
					&:after {
						content: none;
					}

				}

				&:after {
					width: 1rem;
					height: 0.8rem;
					background-image: var(--tick-white);
					background-position: center;
					background-repeat: no-repeat;
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.3s ease, visibility 0.3s ease;
				}

				&.selected {
					&:after {
						opacity: 1;
						visibility: visible;
					}

				}

			}

			&.soldout {
				opacity: 0.5;
			}

		}

		.swatch-image {
			border: 0.1rem solid transparent;
			transition: border-color 0.3s ease;

			&.selected {
				border-color: rgba(var(--text-color), 0.8);
			}

			&.soldout {
				img {
					opacity: 0.5;
				}

			}

		}

		.swatch-button {
			width: auto;
			height: auto;

			&:before {
				content: none;
			}

			&.selected {
				@extend .link-underline;
			}

			&.soldout {
				opacity: 0.2;

				&:before,
				&:after {
					content: none;
				}

			}

		}

		.invalid-color {
			width: auto;
			border: 0.1rem solid rgb(var(--text-color));
			background-color: transparent;
			color: rgb(var(--text-color));
			padding: 0.8rem;

			&:before,
			&:after {
				content: none;
			}

			.swatch-value {
				font-size: 1.1rem;
				line-height: 1;
			}

			&.selected {
				background-color: rgb(var(--text-color));
				color: rgb(var(--background-color));
			}

			.sold-out {
				font-size: 1.1rem;
				line-height: 1;
				margin-left: 0.3rem;
			}

			&.soldout {
				&:after {
					content: none;
				}

			}

		}

		// Soldout
		.soldout {
			&:before {
				border-color: rgba(var(--text-color), 0.5);
			}

			&:after {
				content: '';
				position: absolute;
				width: 3rem;
				transform: rotate(45deg);
				transform-origin: top left;
				border-top: 0.1rem solid rgba(var(--text-color), 0.5);
				position: absolute;
				top: 0;
				left: 0;
			}

		}

		.swatch-selected {
			text-transform: uppercase;
			color: rgb(var(--text-color));
			font-weight: 600;
			font-size: 1rem;
			line-height: 1rem;
			padding: 0.8rem;
			background-color: rgba(var(--text-color), 0.05);
			transform: translate(50%);
			transition: transform 0.2s ease;
			opacity: 0;
			visibility: hidden;
			display: none;
		}

	}

	.product-price {
		font-size: 1.6rem;
		font-weight: 500;
		color: rgb(var(--text-color));

		.product-sale-label {
			display: none;
		}

	}

}

.no-margin {
	.product-card {
		margin-bottom: 0;
	}

}
