@use 'general/_mixins';

.quick-view-open {
	.quick-view {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;

		.quick-view-inner {
			transform: translateY(0);
		}
	}
}

.quick-view {
	// Higher mobile toolbar
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(var(--overlay-color), 0.4);
	transition-duration: 0.3s;

	.algin-center-thumbs-slider {
		left: 2.4rem;
		right: auto;
		pointer-events: none;
		display: flex;
		align-items: center;
		height: 100%;
		position: absolute;
		width: 9.9rem;
		top: 0;
		left: 2.4rem;
		justify-content: center;
		flex-direction: column;
		.unity-thumbs-slider-viewport {
			pointer-events: all;
			margin-top: 0;
			display: flex;
			align-items: center;
			height: 31.23rem;
			position: relative;
			width: 100%;
			.unity-thumbs-slider-container {
				flex-direction: column;
				height: 100%;
				top: 0;
				gap: 0.8rem;
				width: 100%;
				.unity-thumbs-slide {
					flex: 0 0 calc(33.3% - 0.5rem);
					&.selected {
						.media-preview-wrap {
							border-radius: 0.8rem;
							border-color: rgb(var(--text-color));
						}
					}
				}

				.media-preview-wrap {
					border-radius: 0.8rem;
					border-color: rgb(var(--text-color), 0.2);
				}
			}
		}
		.unity-arrows {
			pointer-events: none;
			position: absolute;
			width: 9.5rem;
			height: 37.8rem;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			.unity-button {
				width: 100%;
				height: 3.2rem;
				pointer-events: all;
				position: relative;
				left: 0;
				top: unset;
				transform: none;
				border-radius: 0.8rem;
				border: none;
				&:hover {
					color: rgb(var(--text-color));
					background-color: #0000;
					svg {
						color: rgba(var(--text-color));
					}
				}
				&.unity-button-next {
					transform: rotate(180deg);
				}
			}
		}
	}

	&.loading {
		.quick-view-inner {
			@extend .circle-loading;
		}

		.quick-view-content {
			opacity: 0;
			visibility: hidden;
		}
	}

	.quick-view-inner {
		background-color: rgb(var(--background-color));
		width: 100%;
		transform: translateY(5rem);
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		border-radius: 0.6rem;
		transition:
			opacity 0.3s,
			visibility 0.3s,
			transform 0.3s;

		@media (min-width: 1054px) {
			width: 1000px;
			height: 70rem;
			max-width: 80vw;
			max-height: 90vh;
		}

		@media (max-width: 1053px) {
			margin: 15px;
			height: calc(100% - 30px);
			width: calc(100% - 30px);
		}

		@media (hover: hover) {
			&:hover {
				.quick-view-close {
					opacity: 1;
					visibility: visible;
					transform: translate(0, 0);
				}
			}
		}
	}

	.quick-view-close {
		height: auto;
		border: 0.1rem solid rgba(var(--text-color), 0.8);
		color: rgb(var(--text-color));
		background-color: rgb(var(--background-color));
		border-radius: 5rem;
		padding: 0.7rem;
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
		cursor: pointer;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		transition-duration: 0.3s;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-0.5rem);

		svg {
			width: 1rem;
			height: 1rem;
		}

		@media (max-width: 991px) {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	.quick-view-content {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		border-radius: 0.6rem;

		@media (max-width: 991px) {
			overflow: auto;
		}
	}

	// Gallery
	.product-gallery {
		position: relative;
		width: 100%;

		@media (min-width: 992px) {
			height: 100%;
			width: 50%;

			.swiper-wrapper {
				display: flex;
			}
		}

		.swiper {
			height: 100%;
		}

		.media-preview-wrap {
			height: 100%;
		}

		.swiper-button-prev,
		.swiper-button-next {
			width: 3.5rem;
			height: 3.5rem;

			svg {
				width: 1.3rem;
				height: 1.3rem;
			}
		}

		.swiper-button-prev {
			left: 2rem;
		}

		.swiper-button-next {
			right: 2rem;
		}
	}

	// Summary
	.product-summary {
		padding: 2rem;
		overflow-y: auto;
		margin-bottom: 0;

		@media (min-width: 992px) {
			padding: 5rem;
			height: 100%;
			width: 50%;
		}

		.product-summary-inner {
			position: static;
		}

		.product-sale-label {
			margin-bottom: 0.5rem;
		}

		.product-title {
			margin-top: 0;
			margin-bottom: 2.4rem;

			@media (min-width: 992px) {
				font-size: 3.6rem;
				line-height: 4rem;
			}
		}

		.quantity {
			width: 10rem;

			.quantity-button {
				width: 2.5rem;
			}
		}

		.product-price-wrap {
			margin-bottom: 1rem;
		}

		.product-price {
			font-size: 2.4rem;
		}

		.product-description {
			font-size: 1.6rem;
			line-height: 2.7rem;
			margin-bottom: 2.4rem;
		}

		.product-variants {
			margin-bottom: 2.3rem;

			.field-wrap-inner {
				display: inline-flex;
				align-items: center;
			}

			.field-label {
				min-width: 3.6rem;
				min-height: 3.6rem;
			}
		}

		.product-buy {
			margin-bottom: 2rem;
		}

		.add-to-cart-button {
			font-size: 1.4rem;
			padding: 1.2rem 3.2rem;
			font-weight: 700;
			margin-bottom: 0;
			.product-price {
				font-size: 1.4rem;
			}
		}

		[data-shopify='payment-button'] {
			flex: 0 0 100%;
		}

		.product-share {
			position: relative;
			z-index: 5;
		}
	}
}
