.vr-featured-product-section {
  .vr-featured-product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    .title-wrapper {
      margin-bottom: 0;
      text-align: left !important;

      @media (min-width: 992px) {
        width: 50%;
      }

      @media (min-width: 1200px) {
        width: 36%;
      }

      .heading {
        margin-top: 1rem;
      }
    }

    .section-button-wrapper {
      margin-top: 0 !important;
    }
  }

  .vrworld-slider-container {
    margin-left: 0;

    .vrworld-slide {
      padding-left: var(--slide-spacing);
    }
  }

  .vr-featured-product-card {
    .product-card {
      position: relative;
      border: 1px solid rgba(241, 237, 235, 1);
      background-color: rgb(var(--background-color));
      border-radius: 1.2rem;
      z-index: 1;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
      cursor: pointer;
      padding-left: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--gradient-background);
        opacity: 0.1;
        z-index: -1;
        border-radius: 1.2rem;
        transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
        pointer-events: none;
      }

      .product-media-wrap {
        background-color: transparent !important;
        background: transparent !important;

        img {
          mix-blend-mode: multiply;
          background-color: transparent !important;
          background: transparent !important;
        }
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0);
        background-image: linear-gradient(rgb(var(--background-color)), rgb(var(--background-color))), var(--gradient-background, linear-gradient(rgba(var(--text-color), .08), rgba(var(--text-color), .08)));
        background-clip: padding-box, border-box;
        background-origin: border-box;
      }
    }
  }
}